@import 'https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i|PT+Sans:400,400i,700,700i';

body {
	color: #565656;
	font-family: "PT Sans", "Trebuchet MS", sans-serif;
	font-size: 20px;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 1.5;
}

a {
	color: #a58c66;
}

a.button {
    background-color: transparent;
    border: 1px solid #a58c65;
    color: #a58c65;
    cursor: pointer;
    font-family: "Brandon",sans-serif;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: normal;
    width: auto;
    margin-bottom: 30px;
}

a.button:hover {
	background: #a58c65;
	color: #fff;
}

.articleList {
	font-size: 17px;
}

/* # Header
---------------------------------------------------------------------------------------------------- */

#docsSearch {
	background: rgb(87,66,244);
	background: linear-gradient(129deg, rgba(87,66,244,1) 0%, rgba(177,242,211,1) 100%) !important;
}

.navbar .navbar-inner {
	background: transparent !important;
	/* position: absolute; */
	/* top: 0; */
	/* left: 0; */
	/* right: 0; */
	padding: 15px 40px;
}
@media only screen and (max-width: 768px) {
	.navbar .navbar-inner {
		padding: 15px 20px;
	}
}
.navbar .navbar-inner nav {
	position: relative;
}
.navbar .nav {
	position: relative !important;
}
@media only screen and (min-width: 1301px) {
	.navbar .nav {
		float: right !important;
		margin-right: -10px !important;
	}
}
@media only screen and (min-width: 769px) and (max-width: 1300px) {
	#mainNav .brand {
		display: block;
		margin: 0 auto;
		text-align: center;
		width: 100%;
	}
	.navbar .nav {
		display: block;
		text-align: center;
		margin: 60px auto 0 auto;
		float: none;
	}
}
.nav-collapse.in.collapse .nav {
	margin-top: 20px;
}

body {
}

#mainNav.navbar .btn-navbar {
	right: 0 !important;
	margin: 11px 0 0 0;
	border-radius: 0 !important;
	border-width: 0 !important;
	margin-right: -10px !important;
}
#mainNav.navbar .btn-navbar .icon-bar {
	box-shadow: none;
	border-radius: 0;
	height: 1px;
	background: #333;
}
#mainNav.navbar .btn-navbar .icon-bar + .icon-bar {
	margin-top: 5px;
}
#mainNav .brand {
	padding: 8px 0;
}
#mainNav .brand span {
	/* display: inline-block; */
	/* text-indent: -9000px; */
	/* width: 230px; */
	/* height: auto; */
	/* background: url(images/logo-text.svg) no-repeat 0 0; */
	/* background-size: 100%; */
	/* margin-top: 18px; */

	font-family: "PT Sans", "Trebuchet MS", sans-serif;
	font-size: 16px;
	letter-spacing: 5px;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	color: #333;
}
#mainNav .brand span::before {
	content: " ";
	width: 15px;
	height: 15px;
	display: inline-block;
	position: relative;
	top: 2px;
	margin-right: 6px;
	background-image: url("images/logo2-leaf.png");
	background-size: 15px 15px;
}
#mainNav .brand span:hover {
	color: #307dff;
}

.navbar-inner {
	box-shadow: none;
	padding: 0;
}

.navbar .nav .active .caret {
	border-color: -moz-use-text-color transparent #FDF3EF;
    border-style: none solid solid;
    border-width: 0 5px 5px;
    bottom: 0;
    display: inline-block;
    position: absolute;
    right: 46%;
}

.navbar .brand {
	padding: 0;
}

.navbar .nav li a {
	font-family: "PT Sans", "Trebuchet MS", sans-serif;
	font-size: 13px;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-style: normal;
	padding: 20px 15px !important;
}

.navbar-inner .container-fluid {
	max-width: none !important;
}

.navbar .nav li#retired-themes,
.navbar .nav li#how-to-use-this-support-site {
	display: none;
}

/* # Search
---------------------------------------------------------------------------------------------------- */

#docsSearch {
	background: #FDF3EF;
	border: none;
	padding: 100px 0 100px 0;
}

#docsSearch h1 {
	font-size: 50px;
	color: white;
	margin: 0;
	margin-left: 5%;
	margin-right: 5%;

}

#searchBar button {
	background: #3ecf8e;
	border: 1px solid #3ecf8e;
	border-top-right-radius: 99em;
	border-bottom-right-radius: 99em;
	text-shadow: none;
	top: auto;
	padding-left: 1.2em;
}

#mainNav .brand span,
a, input, select, textarea, button {
	transition: all 0.4s !important;
}
input, select, textarea {
	background-color: #fff !important;
	border: 1px solid #dcdadd !important;
	color: #565656 !important;
	font-size: 18px !important;
	font-weight: 400 !important;
	padding: 13px 16px 11px;
	width: 100%;
	border-radius: 10px;
	float: none;
	font-family: "PT Sans", "Trebuchet MS", sans-serif !important;
}
::placeholder {
    color: #aaa;
    opacity: 1;
}
button {
	font-family: "PT Sans", "Trebuchet MS", sans-serif !important;
	font-size: 16px !important;
	font-weight: 700 !important;
	letter-spacing: 1.5px !important;
	line-height: 1 !important;
	text-decoration: none !important;
	text-transform: uppercase !important;
	font-style: normal !important;
	border-width: 2px !important;
	border-style: solid !important;
	cursor: pointer !important;
	white-space: normal !important;
}

#searchBar button:hover {
	background: #52e3a2;
	border: 1px solid #52e3a2;
}

#searchBar .search-query,
#sidebar form .search-query {
	border-radius: 99em;
	border-color: #ffffff !important;
}

#searchBar {
	padding-bottom: 0 !important;
}
#searchBar .search-query {
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
	padding-left: 1.5em;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	border-color: #fff;
	box-shadow: none;
}

textarea:focus, input:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	border-color: #fff;
	box-shadow: none;
}

#sidebar form .search-query:focus, #sidebar form .search-query:focus:invalid {
	box-shadow: none;
	border-color: #eee;
}

#sidebar h3 {
	background: rgba(0, 0, 0, 0) url("images/widget-title.png") no-repeat scroll left center / 20px auto;
	color: #314a5f;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    padding: 0 30px;
    letter-spacing: 1px;
}

#sidebar .nav-list a {
	color: #314a5f;
}

#sidebar .nav-list .active a, #sidebar .nav-list .active a:hover, #sidebar .nav-list .active a:focus {
	color: #314a5f;
}

/* # Content
---------------------------------------------------------------------------------------------------- */

.category-list.two-col .category {
	width: 100%;
}

#contentArea.container-fluid {
	background: #fff;
	margin-top: 50px;
	padding-top: 50px;
}

.category-list .category {
	background: #fff;
	border: none;
	margin: 0;
	padding: 0px;
	text-align: left;
}

.contentWrapper {
	border: none;
	color: #314A5F;
	padding: 0 20px;
}

.contentWrapper p.descrip {
	color: #314a5f;
	font-size: 17px;
	font-weight: 700;
}

#main-content {
	background-image: none;
	margin-bottom: 0;
	padding: 0 10px;
}

#sidebar {
	margin: 0;
}

.article-count {
	display: none;
}

#fullArticle,
#fullArticle p {
	line-height: 30px;
}

#fullArticle .gist-meta {
	font-size: 10px;
}

#fullArticle img {
	border: none;
	border-radius: 0;
}

#fullArticle p, #fullArticle ul, #fullArticle ol, #fullArticle li, #fullArticle div, #fullArticle blockquote, #fullArticle dd, #fullArticle table {
	color: #314A5F;
	font-size: 18px;
}

#fullArticle h1, #fullArticle h2, #fullArticle h3, #fullArticle h4, #fullArticle h5, #fullArticle strong {
	color: #314A5F;
}

#fullArticle h4 {
	font-size: 20px;
	margin-bottom: 40px;
	letter-spacing: 1px;
	font-weight: 400;
}

#fullArticle h5 {
	color: #f1bdb9;
	font-size: 20px;
	margin-bottom: 40px;
	letter-spacing: 1px;
	font-weight: 400;
}

#fullArticle h2 {
    color: #f1bdb9;
    font-family: "Archer",sans-serif;
    font-size: 35px;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 0;
    margin-bottom: 20px;
    text-transform: none;
}

#fullArticle .title,
.contentWrapper h1 {
	margin-bottom: 50px;
}

.contentWrapper h1 {
	font-size: 25px;
	font-weight: 700;
	line-height: 1.4em;
}

footer {
	clear: both;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "PT Serif", "Georgia", serif;
	font-weight: 700 !important;
	line-height: 1.2;
	letter-spacing: -1.6px;
	margin: 0 0 30px;
	text-decoration: none;
	color: #333;
	font-style: normal;
}

.collection-category h2 a {
	font-weight: 300;
	font-size: 20px;
	letter-spacing: 1px;
}

.category-list h3 {
	font-size: 16px;
}

#fullArticle blockquote {
    background: #e9f0ef none repeat scroll 0 0;
    margin: 40px 0;
    padding: 30px;
    border: none;
}

.related {
	border: 1px solid #f3eeea;
}

#fullArticle hr {
	border-color: #f3eeea;
}

.articleFoot {
	border-top: 1px solid #f3eeea;
	padding-top: 30px;
}

.articleFoot p, .articleFoot time {
	font-family: "Archer" ,sans-serif;
	font-style: normal;
	color: #314a5f;
	font-size: 12px;
}

#sbContact {
	color: #a58c66;
}

.icon-article-doc::before,
[class^="icon-"], [class*=" icon-"], .featherlight-close-icon {
	color: #a58c66;
}

.pagination  {
	text-align: center;
	font-weight: 400;
}

.pagination a {
	color: #2f4960;
	font-size: 16px;
}

.pagination ul > .active > a, 
.pagination ul > .active > span {
	color: #2f4960;
}

.pagination a:hover {
	color: #a58c66;
}

.pagination ul li a, .pagination ul li span {
	border: none;
}

/* # Custom Categories in Fourths
---------------------------------------------------------------------------------------------------- */

#collection-category-21,
#collection-category-1,
#collection-category-15 {
	border-bottom: 2px solid #f3eeea;
	background: #a58c66;
	float: left;
	width: 33%;
	text-align: center;
	padding-bottom: 50px;
	margin: 0 0 50px;
}

#collection-category-1 {
	background: top center url(images/pen-solid.png) no-repeat;
	background-size: 100px 100px;
	padding-top: 100px;
}

#collection-category-21 {
	background: top center url(images/cursor-solid.png) no-repeat;
	background-size: 100px 100px;
	padding-top: 100px;
}

#collection-category-15 {
	background: top center url(images/list-solid.png) no-repeat;
	background-size: 100px 100px;
	padding-top: 100px;
}

#collection-category-21.collection-category h2 a,
#collection-category-1.collection-category h2 a,
#collection-category-5.collection-category h2 a,
#collection-category-15.collection-category h2 a,
#collection-category-652.collection-category h2 a,
#collection-category-774.collection-category h2 a  {
	color: #a58c66;
}

#collection-category-21.collection-category h2 a:hover,
#collection-category-1.collection-category h2 a:hover,
#collection-category-5.collection-category h2 a:hover,
#collection-category-15.collection-category h2 a:hover,
#collection-category-652.collection-category h2 a:hover,
#collection-category-774.collection-category h2 a:hover {
	border-bottom: none;
	color: #314A5F;
}

.collection-category h2 {
	margin: 0;
}

#collection-category-21.collection-category .category-list,
#collection-category-1.collection-category .category-list,
#collection-category-15.collection-category .category-list,
#collection-category-518.collection-category .category-list {
	display: none;
}

/* # Theme Documentation
---------------------------------------------------------------------------------------------------- */

#collection-category-5,
#collection-category-652 {
	clear: both;
	margin-bottom: 50px;
	overflow: hidden;
}

#collection-category-652 {
	margin-top: 50px;
}

#collection-category-5.collection-category h2,
#collection-category-652.collection-category h2,
#collection-category-774.collection-category h2 {
	margin-bottom: 20px;
}

#collection-category-5 .category-list .category,
#collection-category-652 .category-list .category,
#collection-category-774 .category-list .category {
	background: #fff;
	border: 1px solid #f3eeea;
	float: left;
	width: 20.7%;
	text-align: center;
	margin: 1%;
	padding: 1%;
}

#collection-category-5.collection-category h2,
#collection-category-652.collection-category h2,
#collection-category-774.collection-category h2 {
	background: top center url(images/screen-solid.png) no-repeat;
	background-size: 100px 100px;
	padding-top: 110px;
	text-align: center;
}

#collection-category-5 .category-list .category:hover,
#collection-category-652 .category-list .category:hover,
#collection-category-774 .category-list .category:hover {
	background: #f3eeea;
}

#collection-category-5 .category-list .category h3,
#collection-category-652 .category-list .category h3,
#collection-category-774 .category-list .category h3 {
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 1px;
}

footer {
	background: url("images/R316_estd-navy.png") no-repeat scroll center top / 300px 81px;
	margin-top: 100px;
	padding-top: 90px;
}

footer p {
	color: #314a5f;
	text-align: center;
}

footer p a {
	color: #a58c66;
}

/* # Start Here
---------------------------------------------------------------------------------------------------- */

#collection-category-718 {
    text-align: center;
}

#collection-category-718 h2 a {
	background: #2f4960;
	border: 1px solid #2f4960;
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 10px 40px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: normal;
    width: auto;
}

#collection-category-718 h2 a:hover {
	background: #fff;
	color: #2f4960;
}

/* # Submit a Ticket
---------------------------------------------------------------------------------------------------- */

#collection-category-518 {
    text-align: center;
}

#collection-category-518 h2 a {
	background: #a58c65;
	border: 1px solid #a58c65;
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: normal;
    width: auto;
}

#collection-category-518 h2 a:hover {
	background: #fff;
	color: #a58c65;
}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* # Github
---------------------------------------------------------------------------------------------------- */

.gist .blob-code-inner {
	color: #2f4960 !important;
}

.gist .gist-file {
	border: 1px solid #e9f0ef !important;
	border-radius: 0 !important;
}

.gist .gist-data {
	border: none !important;
}

.gist .blob-num {
	border-color: #e9f0ef !important;
}

.gist .gist-meta {
	background: #e9f0ef !important;
	color: #2f4960 !important;
	font-family: 'Brandon', sans-serif !important;
	font-size: 9px !important;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.gist .gist-meta a {
	color: #2f4960 !important;
	font-weight: 400 !important;
}

.gist tbody,
.gist .gist-data {
	border: none !important;
}



/* # Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 800px) {

#collection-category-21, 
#collection-category-1, 
#collection-category-15 {
	margin: 0 0 30px;
	width: 100%;
}

.contentWrapper {
	padding: 50px 20px;
}

}

@media only screen and (max-width: 500px) {

#collection-category-5 .category-list .category,
#collection-category-652 .category-list .category {
	margin: 1% 0;
	width: 100%;
}

}
